@{
    ViewBag.Title = "O projekcie";
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Administrator/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Dispatcher"))
    {
        Layout = "~/Views/Dispatcher/_DispatcherLayout.cshtml";
    }
    else if (User.IsInRole("Worker"))
    {
        Layout = "~/Views/Worker/_WorkerLayout.cshtml";
    }
}
<h2><center>@ViewBag.Title</center></h2>
<br />
<p><center>O projekcie</center></p>
